:root {
    --paddle-left-x: 0;  
    --paddle-left-y: 0; 
    --paddle-right-x: 0;  
    --paddle-right-y: 0; 
    --ball-x: 200;
    --ball-y: 200;
}

#game {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

#paddle_left {
    position: absolute; 
    width: 10px;
    height: 50px;
    border: 2px solid greenyellow;
    box-sizing: border-box;
    background-color: aqua;
    transform:
        translateX(calc(var(--paddle-left-x) * 1px))
        translateY(calc(var(--paddle-left-y) * 1px));
}

#paddle_right {
    position: absolute; 
    width: 10px;
    height: 50px;
    border: 2px solid greenyellow;
    box-sizing: border-box;
    background-color: aqua;
    transform:
        translateX(calc(var(--paddle-right-x) * 1px))
        translateY(calc(var(--paddle-right-y) * 1px));
}

#ball {
    position: absolute; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid greenyellow;
    box-sizing: border-box;
    background-color: hotpink;
    transform:
        translateX(calc(var(--ball-x) * 1px))
        translateY(calc(var(--ball-y) * 1px));
}

.draggable {
    position: absolute; 
    cursor: pointer; 
}

#info {
    display: flex;
    top: 70vmin;
    position: absolute;
    border: 2px solid blueviolet;
    width: 80vmin;
    height: 10vmin;
    box-sizing: border-box;
}

#left_info {
    width: 50%;
}

#right_info {
    width: 50%;
}