/* #game_wrapper {
    position: absolute;
    top: 30vmin;
} */

canvas {
    border: 1px solid black;
}


#info {
    display: flex;
    border: 2px solid blueviolet;
    width: 80vmin;
    height: 50px;
    margin-top: 3%;
    box-sizing: border-box;
}

#left_info {
    width: 50%;
}

#right_info {
    width: 50%;
}